*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.container{
   width: 1100px;
   margin: 0 auto;   
}
.container2{
    width: 1100px;
    margin: 0 auto;   
 }
 .container3{
    width: 1100px;
    height: 320px;    
    margin: 0 auto;
}
.container4{
    width: 1100px;
    height: 440px;
    margin: 0 auto;
    background-color:#CFD9E3 ;
}
.container5{
    width: 1100px;
    height: 200px;
    margin: 0 auto;
    background-color:#CFD9E3 ;
}
.container6{
    width: 1100px;
    height: 280px;
    margin: 0 auto;
    background-color:#CFD9E3 ;
}
footer{
    width: 1100px;
    height: 140px;
    margin: 0 auto;
    background-color: #102B40;
}
.picon{    
    display: flex;
    justify-content: space-between;    
    background-color: #102B40;
}
.borderline{
    display: flex;
    justify-content: space-between;
    background-color:#CFD9E3;    
}
.p >ul{  
    display: flex;    
    list-style: none;         
    color: #1DC9A1;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 23px;
}
.p >ul >li{
    padding-right: 15px;
}
.icon > ul{
    display: flex;    
    list-style: none;      
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 23px;
}
.icon > ul >li{
    padding-left: 10px;
}
.icon >ul > li>a{
    color: #1DC9A1;
}
.border{
    width: 6%;
    height: 20px;      
    border-radius: 10px;
    background-color: #102B40;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
}
.line > ul{
    display: flex;
    list-style: none;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    color: #1DC9A1;
}
.line >ul>li{
    padding-left: 20px;
}
.container-top{
    width: 1100px;
    height: 200px;    
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background-color: #102B40;
}
.container-top >h2,.container-top>button{
    color:#1DC9A1 ;
}
.container-top >h3,.container-top>h5{
    color: white;
}
.container-bottom{
    width: 1100px;
    height:120px ;    
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #CFD9E3;
}
.border1{
    width: 18%;
    height: 100px;   
    transform: translateY(-50%);
    background-color: #1DC9A1;
}
.container4-h{
    display: flex;
    justify-content: center;
    align-items: center;
}
.row-colum{   
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 200px;   
}
.border2{   
    display: flex;  
    justify-content: center;
    flex-direction: column;    
    align-items: center;
    width: 16%;
    height: 160px;   
    border: 1px solid black; 
}
.border2 >h5{
    margin-top: 10px;
}
.img{
    width:80%;
    height: 60px;  
    background-color:#102B40 ;
}
.icon-right-left{        
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.square{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.square1{
    width: 10%;
    height: 80px;
    background-color: #1DC9A1;
}
.container5-h{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.container6-h{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10px;
}
.radius{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.radius1{    
    width: 9%;
    margin-top: 80px;
    height:100px;
    border-radius: 50%;
    background-color: #102B40
}
.radius2{
    width: 12%;
    height: 120px;
    border-radius: 50%;
    margin-top: 40px;
    background-color: #102B40;
}
.container6-h5{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer-right-left{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.icon2 >ul{
    display: flex;
    list-style: none;
    margin-top: 20px;
    margin-left: 15px;
    margin-bottom: 10px;
}
.icon2 > ul > li{
    padding-right: 10px;
}
.icon2 >ul > li>a{
    color: #1DC9A1;
}
.footer-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-header > ul{
    display: flex;
    list-style: none;
    margin-top: 20px;
    margin-right: 15px;
    margin-bottom: 10px;
}
.footer-header > ul>li{
    padding-right:20px ;
}
.header-ul{
    color: #1DC9A1;
}





